.FlashCard {
  width: 200px;
  height: 200px;
  border: .75px lightgrey solid;
  border-radius: 5px;
  box-shadow: 3px 3px 3px 0 lightgrey;
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.FlashCard img {
  height: 90%;
  width: auto;
  margin: auto;
}

.FlashCard h1 {
  color:#5c5c5c;
  /* color: #14173c; */
}

#card-list {
  display: flex;
  flex-flow: row wrap;
  justify-items: center;
  flex-basis: auto;
}

.card {
  display: flex;
  align-items: center;
}
